@model PersonalProject.BLL.Models.ShoppingCartModel

<section class="shoppingCart">
    <table class="table" id="shoppingCart-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Product")
                </th>
                <th>
                    @Html.DisplayName("Price")
                </th>
                <th class="action">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCartProducts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductPrice)
                    </td>
                    <td class="action">
                        <button type="button" title="Delete Product" class="remove-btn" data-product-id="@item.ProductId">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <section class="buttons">
        <div class="purchase">
            <button type="button" title="Purchase" class="purchase-btn">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
            </button>
        </div>
        <div class="pull-right">
            <span>Total Cost: </span> @Html.DisplayFor(model => model.TotalCost)
        </div>
    </section>
</section>
<style>
    .pull-right {
        text-align: end;
        font-weight: 600;
    }

    .shoppingCart {
        width: 25%;
        min-width: 320px;
    }

    .action {
        text-align: center;
        width: 15%;
    }

    .remove-btn {
        border-radius: 30px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
</style>

<script>
    $(".remove-btn").click(function () {
        let productId = $(this).data('product-id')
        $.ajax({
            url: '/Product/DeleteProductFromShoppingCart',
            data: { productId },
            type: 'POST',
            success: function (response) {
                if (response.success) {
                    toastr.success("Product successfully deleted", "Success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 700);
                }
            }
        });
    })

    $(".purchase-btn").click(function () {
        $.ajax({
            url: '/Product/SaveOrder',
            data: {},
            type: 'POST',
            success: function (response) {
                if (response.success) {
                    toastr.success("Order successfully processed", "Success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            }
        });
    })
</script>