@using Newtonsoft.Json;
@using System.Web;
@model PersonalProject.BLL.Models.ShoppingCartModel
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Add Icon Button Example</title>
</head>
<body>
    <section class="main-content">
        @if (Model.ShoppingCartProducts != null && Model.ShoppingCartProducts.Any())
        {
            <div id="shopping-cart">
                @Html.Partial("_ShoppingCart")
            </div>
        }
        <section class="products">
            <table class="table" id="product-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Product")
                        </th>
                        <th>
                            @Html.DisplayName("Price")
                        </th>
                        <th class="action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductsToSell)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td class="action">
                                <button type="button" class="add-btn" data-product-id="@item.ProductId" data-product-name="@item.ProductName" data-product-price="@item.ProductPrice">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </section>
</body>

<style>
    .add-btn {
        border-radius: 30px;
        margin-left: 1rem;
    }

    #shopping-cart {
        text-align: -webkit-right;
        width: 100%;
        margin-bottom: 1rem;
    }

    .products {
        width: 90%;
    }

    .action {
        text-align: center;
        width: 15%;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
    }
</style>


<script>
    $('.add-btn').click(function () {
        var productId = $(this).data('product-id');
        var productName = $(this).data('product-name');
        var productPrice = $(this).data('product-price');

        var product = {
            productId: productId,
            productName: productName,
            productPrice: productPrice
        };

        addProductToShoppingCart(product);
    });

    function addProductToShoppingCart(product) {
        $.ajax({
            url: '/Product/AddProductsToShoppingCart',
            data: { product: product },
            type: 'POST',
            success: function (response) {
                if (response.success) {
                    toastr.success("Product added successfully", "Success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 700);
                }
            }
        });
    }
</script>